<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div id="__next">
        <footer class="css-1hxhw8h ebdcoue0">
            <ul class="links">
                <li class="links__item">
                    <a href="/about"> About Inlol.gg </a>
                </li>
                <li class="links__item">
                    <a href="/policies/privacy">
                        <strong> Privacy Policy </strong>
                    </a>
                </li>
                <li class="links__item">
                    <a href="https://www.inlolgg.team/" target="_blank" rel="noopener noreferrer">
                        Wanted
                    </a>
                </li>
            </ul>
            <div class="info">
                <p class="copyright">
                    © 2022- 2022
                     Inlol.GG. Inlol.GG isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
                </p>
            </div>
        </footer>
    </div>
</html>
