<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Profile</title>
</head>
<body>
    <script type="text/javascript">
        function getSummonerInfo() {
            let summonerName = document.getElementById('name').value;

        }
    </script>
<div>
    <form name="search-form" action="/summoner/summoner-info" method="get">
        <input type="text" id="name" name="name" value="" placeholder="소환사명을 입력하세요."/>
        <button type="submit" id="submitButton">검색</button>
        <button type="submit" id="updateButton">갱신</button>
    </form>
</div>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Tier</th>
        <th>Position</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${summoner.name}">
        <td th:text="${summoner.tier}">
        <td th:text="${summoner.position}">
    </tr>
    </tbody>
</table>
</body>
</html>