<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div id="__next">
        <header class = "css-16nzi5j ecgibo80">
            <div class="css-7dq222 e10327to1">
                <nav class="route-nav">
                    <ul class="route-list">
                        <li class="route-item">
                            <a href="/" class="css-110azl1 e10327to0" rel="noopener">
                                Home
                            </a>
                        </li>
                        <li class="route-item">
                            <a href="/champions" class="css-4b4yo9 e10327to0">
                                Champion Analysis
                            </a>
                        </li>
                        <li class="route-item">
                            <a href="/statistics" class="css-4b4yo9 e10327to0">
                                Statistics
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
</html>
