<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

    <th:block layout:fragment="head">
        <title>Inlol Project</title>
        <!--/* css */-->
        <link th:href="@{/css/summoner.css}" rel="stylesheet" />
    </th:block>

    <body>
        <th:block layout:fragment="header" th:include="/fragments/header"> </th:block>
        <div class="css-nvyacf e1y28yym3">
            <ul> </ul>
            <div class="face">
                <div class="profile-icon">
                    <img src="https://opgg-static.akamaized.net/images/profile_icons/profileIcon4353.jpg?image=q_auto&amp;image=q_auto,f_webp,w_auto&amp;v=1650634188774" alt="profile image">
                    <span class="level" th:text="${summoner?.get('summonerLevel')}"> </span>
                </div>
            </div>
            <div class="profile">
                <div class="info">
                    <span class="name" th:text="${summoner?.get('name')}"></span>
                </div>
            </div>
        </div>
        <div class="css-16kp18i e1oup1a82">
            <div class="css-97qxj7 einfil01">
                <table style="width: 500px;">
                    <thead>
                    <tr>
                        <th>Solo Tier</th>
                        <th>Flex Tier</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="text-align: center">
                        <td th:text="${soloRankInfo?.get('tier')} + ${soloRankInfo?.get('rank')}">
                        <td th:text="${flexRankInfo?.get('tier')} + ${flexRankInfo?.get('rank')}">
                    </tr>
                    </tbody>
                    <tbody>
                    <tr style="text-align: center">
                        <td> <img th:src="${soloRankImg}" width="80px" height="auto;"> </td>
                        <td> <img th:src="${flexRankImg}" width="80px" height="auto;"> </td>
                    </tr>
                    </tbody>
                </table>
                <table style="width: 500px;">
                    <thead>
                    <tr>
                        <th>gameType</th>
                        <th>gameDuration</th>
                    </tr>
                    </thead>
                    <tbody style="text-align: center">
                    <tr>
                        <td th:text="${match1?.get('gameType')}">
                        <td th:text="${match1?.get('gameDuration')}">
                    </tr>
                    <tr>
                        <td th:text="${match2?.get('gameType')}">
                        <td th:text="${match2?.get('gameDuration')}">
                    </tr>
                    <tr>
                        <td th:text="${match3?.get('gameType')}">
                        <td th:text="${match3?.get('gameDuration')}">
                    </tr>
                    <tr>
                        <td th:text="${match4?.get('gameType')}">
                        <td th:text="${match4?.get('gameDuration')}">
                    </tr>
                    <tr>
                        <td th:text="${match5?.get('gameType')}">
                        <td th:text="${match5?.get('gameDuration')}">
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <th:block layout:fragment="footer" th:include="/fragments/footer"> </th:block>
    </body>
</html>
