<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

    <th:block layout:fragment="head">
        <title>Inlol Project</title>
        <!--/* css */-->
        <link th:href="@{/css/summoner.css}" rel="stylesheet" />
    </th:block>

    <body>
        <th:block layout:fragment="header" th:include="/fragments/header"> </th:block>
        <div class="css-nvyacf e1y28yym3">
            <ul> </ul>
            <div class="face">
                <div class="profile-icon">
                    <img src="https://opgg-static.akamaized.net/images/profile_icons/profileIcon4353.jpg?image=q_auto&amp;image=q_auto,f_webp,w_auto&amp;v=1650634188774" alt="profile image">
                    <span class="level" th:text="${summoner?.get('summonerLevel')}"> </span>
                </div>
            </div>
            <div class="profile">
                <div class="info">
                    <span class="name" th:text="${summoner?.get('name')}"></span>
                </div>
            </div>
        </div>
        <div class="css-1u0uowu e1ijocqp2">
            <dl>
                <dd>
                    <a th:onclick="|location.href='@{searchInit(name=${summoner?.get('name')})}'|" class="css-1a8o8sd e1ijocqp1">
                        종합
                    </a>
                </dd>
                <dd>
                    <a href="/summoners/kr/${name}/champions" class="css-1hxj3ri e1ijocqp1">챔피언</a>
                </dd>
                <dd>
                    <div class="" style="position: relative;">
                        <a href="/summoners/kr/${name}/ingame" class="css-jyq6x6 e1ijocqp0">
                            <span>인게임 정보</span>
                        </a>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="css-19ozhet e1sjz9pt1">
            <div>
                <div class="css-13uv2u8 e135kpg1">
                    <div class="wrapper">
                        <div class="medal">
                            <div style="position: relative" class>
                                <img th:src="${soloRankImg}">
                            </div>
                        </div>
                        <div class="info">
                            <div class="type">솔로랭크</div>
                            <div class="tier-rank" th:text="${soloRankInfo?.get('tier')} + ${soloRankInfo?.get('rank')}"></div>
                            <div class="tier-info">
                                <span class="lp" th:text="${soloRankInfo?.get('leaguePoints')} + LP"></span>
                                <span class="win-lose" th:text="|&nbsp;&#47; ${soloRankInfo?.get('wins')}승 ${soloRankInfo?.get('losses')}패|"><br>승률 53%</span>
                            </div>
<!--                            <div class="league-name">빅토르의 그림자들</div>-->
                        </div>
                    </div>
                </div>
                <div class="css-rxctzc e135kpg1">
                    <div class="wrapper">
                        <div class="medal">
                            <div style="position: relative" class>
                                <img th:src="${flexRankImg}">
                            </div>
                        </div>
                        <div class="info">
                            <div class="type">자유랭크</div>
                            <div class="tier-rank" th:text="${flexRankInfo?.get('tier')} + ${flexRankInfo?.get('rank')}"></div>
                            <div class="tier-info">
                                <span class="lp" th:text="${flexRankInfo?.get('leaguePoints')} + LP"></span>
                                <span class="win-lose" th:text="|&nbsp;&#47; ${flexRankInfo?.get('wins')}승 ${flexRankInfo?.get('losses')}패|"><br>승률 48%</span>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="css-1s4j24f exxtup3"> </div>-->
<!--                <div class="css-19xo3qz etgm35o1"> </div>-->
<!--                <div class="css-b9il6f etgm35o1"> </div>-->
            </div>
            <div class="css-1sq1kbv e3mqlfu0">
                <div class="css-j57b8z e1yoemer2"></div>
                <div class="css-1mznf9n e1je0q1a3"></div>
                <ul class="css-164r41r exlvoq30">
                <tr th:each="matchInfo : ${matchInfoList}">
                    <li class="css-ja2wlz e19epo2o3">
                        <div result="LOSE" class="css-utzuox e19epo2o2">
                            <div class="info">
                                <div class="type" th:text = "${matchInfo?.get('info')?.get('gameMode')}"></div>
                                <div style="position: relative" class>
                                    <div class="time-stamp"
                                         th:text="${matchInfo?.get('info')?.get('gameAgoTime')}">
                                    </div>
                                </div>
                                <div class="bar"></div>
                                <div class="game-result">패배</div>
                                <div class="game-length"
                                     th:text="${matchInfo?.get('info')?.get('gameDuration')}">
                                </div>
                            </div>
                            <div class="champion"></div>
                            <div class="kda"></div>
                            <div class="stats"></div>
                            <div class="items"></div>
                            <div class="participants"></div>
                            <div class="action"></div>
                        </div>
                    </li>
                </tr>
                </ul>
                <button class="more">더 보기</button>
            </div>
        </div>
        <th:block layout:fragment="footer" th:include="/fragments/footer"> </th:block>
    </body>
</html>
