:root {
    --HSDSGlobalFontFamily: "Aktiv Grotesk","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --HSDSGlobalFontFamilySystem: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --HSDSGlobalFontFamilyMono: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    --HSDSGlobalFontSize: 13px;
}
#__next {
    display: flex;
    flex-direction: column;
    height: 100%;
}
small, div, p, span, button {
    font-family: Helvetica, "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, Dotum, Arial, Tahoma;
}
div {
    display: block;
}
.css-16nzi5j {
    min-width: 1080px;
}
footer, header {
     display: block;
}
header {
    display: block;
}
footer {
    display: block;
}
.css-7dq222 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 48px;
    background-color: #B5D692;
    /*border-bottom: 1px solid #98D692;*/
    box-sizing: border-box;
}
.css-7dq222 .route-nav {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1300px;
}
nav {
    display: block;
}
.css-7dq222 .route-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
ol, ul, li {
    list-style: none;
}
dl, dt, dd, ol, ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
ul, li {
    list-style: none;
}
body, h1, h2, h3, h4, p, ol, ul, dl, dd, button {
    margin: 0px;
    padding: 0px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.css-110azl1 {
    padding: 10px 0 4px 0;
    color: #FFF;
    border-bottom: 3px solid #FFF;
    font-weight: 500;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 48px;
    font-size: 15px;
    box-sizing: border-box;
    letter-spacing: -0.5px;
}
a {
    cursor: pointer;
}
a {
     text-decoration: none;
     /*color: rgb(32, 45, 55);*/
}
a:-webkit-any-link {
    /*color: -webkit-link;*/
    /*cursor: pointer;*/
    /*text-decoration: underline;*/
}
.css-7dq222 .route-item +.route-item {
    margin-left: 24px;
}
.css-4b4yo9 {
    padding: 10px 0 4px 0;
    color: #e5ffc9;
    border-bottom: 3px solid transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 48px;
    font-size: 15px;
    box-sizing: border-box;
    letter-spacing: -0.5px;
}
html {
    font-family: sans-serif;
    text-size-adjust: 100%;
    background-color: rgb(181, 214, 146) !important;
}
.css-1hxhw8h {
    color: #fff;
    width: 1080px;
    padding: 40px 0;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}
.css-1hxhw8h .links {
    line-height: 15px;
    font-size: 12px;
}
.css-1hxhw8h .links__item:first-of-type {
    margin-left: 0;
}
.css-1hxhw8h .links__item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.css-1hxhw8h .links__item a {
    display: block;
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
}
.css-1hxhw8h .info {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
}
.css-1hxhw8h .copyright {
    width: 1000px;
    line-height: 1.5;
    font-size: 11px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.css-1qmhykx {
    padding: 56px 0 48px;
}
.css-1qmhykx img {
    display: block;
    max-height: 200px;
    margin: 0 auto;
}
img {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
}
.css-16kp18i {
    display: block;
    width: 1080px;
    margin: 0 auto;
}
.css-1lshm8i {
    padding: 32px 0 24px;
}
.css-16kp18i .search-contaienr {
    width: 624px;
    margin: 0 auto;
}
.css-yxjuhi {
    position: relative;
    border-radius: 2px;
    background-color: #fff;
}
form {
    display: block;
    margin-top: 0em;
}
caption, .hidden {
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.hidden {
    position: absolute;
}
label {
    cursor: pointer;
}
.css-1k7wk8z {
    width: 100%;
    padding: 15px 150px 18px 17px;
    border: 0;
    height: 50px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 19%);
    border-radius: 4px;
    font-size: 14px;
    color: #9b9b9b;
}
input, textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
input, select {
    background: #fff;
    border: none;
    vertical-align: middle;
}
input {
    margin: 0;
    padding: 0;
    outline: none;
}
input[type="text" i] {
    padding: 1px 2px;
}
input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.css-yxjuhi button[type="submit"] {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    background: #01a9ff;
    border-radius: 2px;
}
button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}
button {
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: none;
}
body, h1, h2, h3, h4, p, ol, ul, dl, dd, button {
    margin: 0;
    padding: 0;
}
input, textarea, keygen, select, button {
    font-family: "Apple SD Gothic Neo",AppleGothic,"Helvetica Neue",Helvetica,"Malgun Gothic",Dotum,Arial,Tahoma;
}
button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.css-97qxj7 {
    /*position: relative;*/
    width: 1080px;
    margin: 0 auto;
    margin-top: 20px;
    min-height: 400px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-radius: 4px;
}